## Preprocessing

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import tensorflow.keras as keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('../Resources/charity_data.csv')
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Check application_df for null/na values
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [24]:
# Check application_df for duplicated values
application_df.duplicated().sum()

0

In [25]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [26]:
# Determine the number of unique values in each column
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [27]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [28]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [29]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [30]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [31]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [32]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [33]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [34]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [35]:
# Get the input feature/ shape
y_train_scaled.shape

(25724, 43)

In [36]:
input_features = X_train_scaled.shape[1]

# Automated Neural Network Optimization

In [37]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (1.1.0)
Requirement already satisfied: requests in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: scipy in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from keras-tuner) (1.7.3)
Requirement already satisfied: tensorboard in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from keras-tuner) (2.0.0)
Requirement already satisfied: packaging in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from keras-tuner) (21.3)
Requirement already satisfied: numpy in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from keras-tuner) (1.21.2)
Requirement already satisfied: ipython in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from keras-tuner) (7.18.1)
Requirement already satisfied: kt-legacy in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: pexpect>4.3 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (3.0.8)
Requirement already satisfied: setuptools>=18.5 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (58.0.4)
Requirement already satisfied: backcall in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: decorator in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: pygments in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (2.7.1)
Requirement already satisfied: traitlets>=4.2 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (5.0.5)
Requirement already satisfied: appnope in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (0.18.1)
Requirement already satisfied: pickleshare in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.0)
Requirement already satisfied: ptyprocess>=0.5 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pexpect>4.3->ipython->keras-tuner) (0.6.0)
Requirement already satisfied: wcwidth in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: ipython-genutils in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from traitlets>=4.2->ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from packaging->keras-tuner) (3.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests->keras-tuner) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests->keras-tuner) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests->keras-tuner) (2022.6.15)
Requirement already satisfied: markdown>=2.6.8 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from tensorboard->keras-tuner) (3.3.4)
Requirement already satisfied: protobuf>=3.6.0 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from tensorboard->keras-tuner) (3.20.1)
Requirement already satisfied: wheel>=0.26 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: six>=1.10.0 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from tensorboard->keras-tuner) (1.16.0)
Requirement already satisfied: grpcio>=1.6.3 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from tensorboard->keras-tuner) (1.42.0)
Requirement already satisfied: absl-py>=0.4 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from tensorboard->keras-tuner) (0.15.0)
Requirement already satisfied: werkzeug>=0.11.15 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from tensorboard->keras-tuner) (2.0.3)
Requirement already satisfied: importlib-metadata in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (2.0.0)
Requirement already satisfied: zipp>=0.5 in /Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.3.1)

In [38]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 90,
        step=5), activation=activation, input_dim=input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [39]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 6 Complete [00h 00m 24s]
val_accuracy: 0.726064145565033

Best val_accuracy So Far: 0.7272303104400635
Total elapsed time: 00h 03m 59s

Search: Running Trial #7

Hyperparameter    |Value             |Best Value So Far
activation        |relu              |relu
first_units       |31                |61
num_layers        |3                 |2
units_0           |21                |26
units_1           |21                |11
units_2           |6                 |26
units_3           |11                |26
units_4           |21                |11
tuner/epochs      |3                 |3
tuner/initial_e...|0                 |0
tuner/bracket     |2                 |2
tuner/round       |0                 |0

Train on 25724 samples, validate on 8575 samples
Epoch 1/3
 9088/25724 [=========>....................] - ETA: 10s - loss: 0.6082 - accuracy: 0.6909

In [20]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters()[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 51,
 'num_layers': 1,
 'units_0': 16,
 'units_1': 21,
 'units_2': 16,
 'units_3': 16,
 'units_4': 21,
 'tuner/epochs': 100,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [21]:
# Evaluate best model against full test data
best_model = tuner.get_best_models()[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5207 - accuracy: 0.7345
Loss: 0.5521735048294067, Accuracy: 0.7344606518745422

In [ ]:
# Export our model to HDF5 file
best_model.save('../h5_fileswq /AlphabetSoupCharity_Optimization.h5')